1. Ol
- Buat Pengaduan
- Tunggu Konfirmasi As
- Lihat daftar pengaduan yang dia buat
- Lihat riwayat penanganan dari pengaduan yang dia buat

2. Supervisor
- Kelola Data Pengguna, Kategori, Mesin, Lokasi
- Konfirmasi pengaduan yang dikirimkan OL
- Buat Pengaduan
- Lihat seluruh daftar pengaduan yang menjadi area-nya
- Lihat riwayat penanganan dari setiap pengaduan yang menjadi area-nya  

3. Super User
- Buat Pengaduan
- Kelola Data Pengguna, Kategori, Mesin, Lokasi
- Lihat semua daftar pengaduan yang tersimpan pada database
- Lihat semua riwayat penanganan dari semua pengaduan yang ada

4. Teknisi
- Terima info pengaduan berdasarkan .....
- Tekan tombol tangani pengaduan
- Upload riwayat penanganan
